#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  
}

.button-thick {
  &-primary {
    padding: 16px 24px;
    background-color: #563ac9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    
    &:hover {
      opacity: 0.7;
    }
  }

  &-secondary {
    padding: 16px 24px;
    background-color: #2F2077;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      opacity: 0.7;
    }
  }

  &-outline {
    padding: 16px 24px;
    background-color: #ffffff;
    color: #563ac9;
    border: solid #563ac9 2px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
   
    
    &:hover {
      background-color: #563ac9;
      color: #ffffff;
      
    }
  }

  &-opacity {
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.25); 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      color: #2F2077;
      background-color: #ffffff;
    }
  }
  
}
