  .landing-page {
    background: url('/src/assets/img/space-blured.png') no-repeat center center/cover;
      
    .hero-section {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 48px;
        color: white;
    
        .hero-content {
          max-width: 600px;
          
          h5 {
            font-weight: 400;
            color: #73FFEE;
            margin: 0px;
          }
    
          h1 {
            font-size: 3rem;
            margin: 0px 0px 16px 0px;
          }
    
          p {
            font-size: 1.2rem;
            margin: 16px 0px;
    
            em {
              font-weight: 800;
            }
          }
    
          .input-group {
            display: flex;
            gap: 16px;
    
            input {
              flex: 1;
              padding: 10px;
              border: none;
              border-radius: 4px;
              font-size: 1rem;
            }
    
            button {
              padding: 10px 20px;
              border: none;
              background-color: #563ac9;
              color: white;
              border-radius: 4px;
              cursor: pointer;
    
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    
      .showreel-section {
        padding: 50px;
        text-align: center;
    
        h2 {
          margin-bottom: 20px;
          font-size: 2rem;
        }
    
        video {
          width: 100%;
          height: auto;
          border: none;
          border-radius: 8px;
          box-shadow: 0px 0px 32px -16px #73FFEE;
        }
      }
      
      @media (max-width: 768px) {
        .hero-section {
          justify-content: center;
          padding: 48px 20px;
          text-align: center;
    
          .hero-content {
            max-width: 100%;
    
            h2 {
              font-size: 1.5rem;
            }
    
            h1 {
              font-size: 2.5rem;
            }
    
            p {
              font-size: 1rem;
            }
    
            .input-group {
              flex-direction: column;
            }
          }
        }
    
        .showreel-section {
          padding: 30px 24px;
          
          h2 {
            font-size: 1.5rem;
          }
    
          video {
            width: 100%;
          }
        }
      }
    }