.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: #ffffff;
  color: #563ac9;

  &-logo img {
    height: 24px;
    align-self: center;
  }

  &-menu {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #2F2077;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &-links {
    display: flex;
    gap: 20px;

    a {
      color: #2F2077;
      text-decoration: none;
      font-weight: 600;
      align-self: center;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      padding: 20px 0px;
      gap: 10px;

      a, .navbar-buttons .btn {
        text-align: center;
        padding: 10px;
        border: none;
      }
    }
  }

  &-buttons {
    display: flex;
    gap: 10px
  }

  @media (max-width: 768px) {
    .navbar-menu {
      display: block;
    }

    .navbar-links {
      display: none;
    }

    .navbar-links.active {
      display: flex;
    }

    .navbar-buttons {
      display: none;
    }

  }
}